<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onSidenavToggle()">
    <mat-icon>face</mat-icon><span class="nav-coption">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onSidenavToggle()">
    <mat-icon>input</mat-icon><span class="nav-coption">Login</span>
  </a>
  <a *ngIf="isAuth" mat-list-item routerLink="/training" (click)="onSidenavToggle()">
    <mat-icon>fitness_center</mat-icon><span class="nav-coption">Training</span>
  </a>
  <mat-list-item>
    <button *ngIf="isAuth" mat-icon-button (click)="onLogout()"><mat-icon>eject</mat-icon><span class="nav-coption">Logout</span></button>
  </mat-list-item>
</mat-nav-list>