<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="determinate" value={{progress}}></mat-progress-spinner>
  <div style="position:relative; top: -60px;">{{roundProgress}}%</div>
  <section fxLayoutGap="10px" fxLayout>
    <button mat-raised-button color="{{!timerRunning?'Basic':'accent'}}" (click)="pauseTimer()">{{!timerRunning?'Resume':'Pause'}}</button>
    <!-- <button mat-raised-button color="accent" (click)="pauseTimer()">Pause</button> -->
    <button mat-raised-button color="warn" (click)="stopTimer()">Stop</button>
  </section>
</section>